@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
$mainFont: 'Open Sans', sans-serif;
$titleFont: 'RocknRoll One', sans-serif;

$fontColor: white;
$fontColorDark: #64748b;
$primaryColor: #C4A2A5;
$gameFieldColor: #F2D6D5;
$sideBarColor: #AC878B;
$darkAccent: #AC878B;