.mainField {
  @include mainFieldSettings;
  @include flexCenter;
  overflow: auto;

  p, h3 {
    color: $fontColorDark;
  }

  form {
    color: $fontColorDark;
    font-family: $mainFont;
    font-size: 1rem;
    text-align: center;

    label, fieldset {
      margin: 5px 0;
    }

    .textInput {
      border: 2px solid $darkAccent;
      border-radius: 15px 0 15px 0;
      padding: 2px 5px;
      margin: 4px;
      color: $fontColorDark;
      &::placeholder {
        color: $darkAccent;
        font-weight: 300;
      }
    }
    .radioDescription {
      text-align: center;
      margin: 4px;
    }
    .radioForm {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 4px;
    }

    .radio {
      appearance: none;
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      padding: 3px;
      margin: 0 10px;
      border-radius: 50%;
      background: $fontColor;
      border: 2px solid white;
      box-shadow: 0 0 0 2px $darkAccent;
      &:checked {
        background: $primaryColor;
      }
    }

    .p-button-raised {
      padding: 11px 100px;
      margin: 20px;
    }
  }
  .imgSmall {
    width: 55%;
  }
}