header {
  height: 20%;
  .title {
    height: 50%;
    font-family: $titleFont;
    @include flexCenter
  }

  .nav {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
