@use "sass:color";

.sidebar {
  @include sidebarSettings;
  overflow: auto;

  .pieces {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;

    .part{
      width: 100px;
      height: 67px;
      border: 1px solid $gameFieldColor;
      margin: 7px;
    }

    .marked {
      border: 3px solid $fontColorDark;
    }

    .used {
      border: 1px solid $gameFieldColor;
      opacity: 0.3;
    }

  }
}